@media (max-width: 1015px) {
    .textos {
        width: 40%;
        margin: 2em 0 1em 3.5em;
    }

    .textos p {
        width: 90%;
    }
}

@media (max-width: 962px) {
    .textos {
        margin: 1.5em 0 1em 3em;
        width: 45%;
    }
}


@media (max-width: 768px) {
    body {
     background-image: url(../images/bg-mobile.svg);
    }
 
 
    .container {
        display: flex; 
        flex-direction: column;
    }

 
    .imagem {
        width: 90%;
    }
 
    .textos {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: 90%;
        margin-left: -0.2em;
    }
 
    .textos h2 {
        font-size: 3rem;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
 
    .textos p {
        text-align: center;
        width: 90%;
        font-size: 1rem;
    }
    
    .botao {
        margin-top: 2em;
        width: 50%;
        text-align: center;
    }
 
    .icones {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3em;
    
    }
}
